

/* ABOUT ME SECTION  */




.aboutme-section-content .about-intro p{    
    font-weight: lighter;
    color: var(--light-gray);
    
}
.aboutme-section-content .about-intro p span{
    color: var(--primary);
    font-weight: bolder;
}



.timeline-wrapper{overflow-x:scroll;}

.timeline{
    margin: 0;    
    margin-top: 1rem;
    position: relative;
    width: 5px;    
    background: rgba(255, 255, 255, 0.132);
    border-radius: 5000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


.timeline-item{
    margin: 10px 0;    
    width: 100%;
    display: flex;    
    gap: 12px;
    align-items:center;
}

.timeline-item .dot{
    min-width:  5px;
    max-width:  5px;
    min-height: 5px;
    max-height: 5px;
    scale: 2;
    border-radius: 50%;
    background: var(--primary);
    /* z-index: 1;s */
}

.timeline-item .item-text{
    font-weight: lighter;
    color: var(--light-gray);
    margin-left: 1rem;
    font-size: clamp(.7rem, 2vw + .1rem, 1rem);
}

.item-wrapper{        
    display: flex;
    align-items: center;
}
.item-wrapper label:not(.item-text){
    font-size: clamp(.5rem, 2vw + .1rem, 1rem);
}

.item-wrapper, .item-text{
    display: flex;
    white-space: nowrap;    
}

.timeline-item:hover .item-wrapper label{
    color: var(--primary);
}

.timeline-item{
    opacity: 0;
    transform: translate(100px,20px);
    transition: all 1s ease-in-out;
}
.timeline-item.show{
    opacity: 1;
    transform: translate(0,0);
}


/* @media (max-width:600px){
    
} */