/* SKILLS AND TOOLS SECTION  */
.skills-section-content{

}

/* .folders-wrapper, .icons-wrapper{
    min-width: 50%;
    max-width: 50%;
} */

.folders{
    --line-border-radius:50px;
    --line-width:5px;
    display: flex;   
    flex-wrap: wrap;     
    gap: .8rem 0.6rem;
    
}
.folder{    
    flex-grow: 1;
    padding: .3rem 1rem;    
    position: relative;   
    background: rgba(0, 0, 0, 0.231);   
    outline: 1px solid var(--light-white); 
}

.folder label[id]{
    color:var(--primary);    

}




.folder-name{
    --horiz-line-length:25px;    
    
}


.name{
    white-space: nowrap;
    /* margin-left: calc( var(--horiz-line-length) - 10px); */
}

.files{
    width: 100%;
    margin: 1rem 0;
    display: flex;    
    flex-wrap: wrap;    
    gap: .9rem;
    /* width: var(--line-width); */
}



.file{
    --file-line-length:30px;
    white-space: nowrap;
    /* margin-left: calc(15px + var(--file-line-length)); */
    background: var(--light-white);
    padding: .4rem .7rem;
    border-radius: 5px;    

}




#web-folder{
    /* max-width: 400px; */  
    
}
#mobile-folder{
    /* max-width: 200px; */
}
#python-folder{
    /* max-width: 300px; */
}
#embbeded-folder{
    /* max-width: 200px; */
}
#tools-folder{
    /* max-width: 150px; */
}




.icons-wrapper{
    background: var(--light-white);
    border-radius: 5px;
    width: 400px;
}