/* SKILLS AND TOOLS SECTION  */
.skills-section-content{

}

/* .folders-wrapper, .icons-wrapper{
    min-width: 50%;
    max-width: 50%;
} */

.folders{
    --line-border-radius:50px;
    --line-width:5px;
    display: flex;   
    /* justify-content: center; */
    flex-wrap: wrap;     
    gap: .8rem 0.6rem;
    
}
.folder{    
    color: var(--primary);        
    font-weight: bold;
    flex-grow: 1;
    /* flex-basis: 100%; */
    padding: .3rem 1rem;    
    position: relative;   
    background: rgba(0, 0, 0, 0.231);   
    background: rgba(0, 0, 0, 0.025);   
    border: 1px solid var(--light-white); 
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 var(--darker-blue);    
}

/* .folder:nth-child(1){max-width: 35%;}
.folder:nth-child(3){max-width: 55%;}
.folder:nth-child(5){max-width: 75%;} */

/* .folder #embbeded{color:var(--pink);}
.folder #python{color:var(--yellow);}
.folder #tools{color:var(--green);}
.folder #mobile{color:var(--primary);}
.folder #database{color:var(--primary);}
.folder #web{color:red;} */




.folder-name{
    --horiz-line-length:25px;    
    
}


.name{
    white-space: nowrap;
    /* margin-left: calc( var(--horiz-line-length) - 10px); */
}

.files{
    width: 100%;
    margin: 1rem 0;
    display: flex;    
    flex-wrap: wrap;    
    gap: .9rem;
    /* width: var(--line-width); */
}



.file{
    --file-line-length:30px;
    white-space: nowrap;
    /* margin-left: calc(15px + var(--file-line-length)); */
    background: var(--light-white);
    color: var(--light-gray);        
    padding: .4rem .7rem;
    border-radius: 5px;    
    font-size: .8rem;

}

#skills-tools p{
    margin: 1rem 0;
    color: gray;
}


#web-folder{
    /* max-width: 400px; */  
    
}
#mobile-folder{
    /* max-width: 200px; */
}
#python-folder{
    /* max-width: 300px; */
}
#embbeded-folder{
    /* max-width: 200px; */
}
#tools-folder{
    /* max-width: 150px; */
}




.icons-wrapper{
    background: var(--light-white);
    border-radius: 5px;
    width: 400px;
}