*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Arial;
}



body{
    --header-height:5vh;
    --margin-global-l-r: 3rem;
    --left-section-width: 30%;   
    --max-width: 1000px; 
    /* --red: #FF5757; */

    /* COLORS */
    --black: black;
    --white: rgb(255, 255, 255);
    --wheat: rgba(245, 222, 179, 0.554);
    --primary-darker: rgb(11, 159, 223);
    /* --dark-blue:rgba(17, 17, 32, 0.919); */
    --dark-blue:rgba(34, 34, 65, 0.919);
    --darker-blue:rgb(34, 34, 65);
    --light-blue:rgba(11, 160, 223, 0.729);
    --light-white:rgba(255, 255, 255, 0.132);    
    --orange: rgb(229,89,92);
    --green: rgb(98, 229, 89);
    --yellow: rgba(235, 231, 5, 0.85);
    --yellow-hand: rgb(248, 2206, 95);
    --gradient-pink: rgb(203, 98, 108);
    --gradient-orange: rgb(178,77,158);
    /* --purple: rgb(182,55,150); */
    --purple: #8c52ff;
    --light-gray: #a49ab7;
    --font-purple: rgb(62,22,114);
    --primary: rgb(210,75,115);
    --primary-light:rgba(11, 160, 223, 0.729);    
    --folder-line-color:var(--light-white);
    --primary: rgb(18, 56, 60);    
    --primary: rgb(11, 215, 233);    
    /* --primary: var(--primary-light);     */
    --primary: var(--gradient-pink);    
    --primary: var(--light-blue);        
    /* --primary-light:var(--light-blue); */
    --secondary: rgba(41, 124, 160, 0.729);
    --font-primary: 'Open Sans', Arial, Helvetica, sans-serif;
    --font-secondary: 'Archivo Black', Arial, Helvetica, sans-serif;
    --fs-large: 3rem;
    --fs-medium: 2rem;
    --fs-small: 1rem;
}


body{
    background: var(--darker-blue);
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    overscroll-behavior: none;
    /* overflow-x: hidden; */
}







.main-wrapper, header{
    width: 100%;
    margin-inline: auto;
    /* max-width: var(--max-width); */
}


header{
    /* width: 100%; */
    /* width: 100vw; */
    background: var(--dark-blue);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}


.header-wrapper{        
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;     
    width: 100%;   
    background: var(--dark-blue);            
    height: var(--header-height);   
    /* width: 80%; */
    /* margin-inline: .3rem;  */
    padding:20px 0;        
    
}


.header-wrapper .name{
    font-weight: bold;    
    color: var(--primary);    
    font-size: clamp(.1rem,1vw + .5rem,1.5rem);
}


.header-wrapper ul{
    list-style: none;
    display: flex;
    font-weight: lighter;
    color: var(--light-gray);
    font-family: var(--font-primary);    
    margin-right: 0;
    padding-right: 0;
    color: var(--wheat);    
}

.header-wrapper ul li{        
    margin-left: .5rem;
    padding: 2px 15px;    
    display: flex;
    align-items: center;
}


.header-wrapper ul a{    
    text-decoration: none;
    color: inherit;
    font-size: clamp(.6rem,1vw + .1rem,.8rem);    
}

.header-wrapper .resume-link{    
    /* color: white;
    color: var(--wheat);  */
    border: 2px solid var(--primary);
    border-radius: 5px;    
    color: var(--primary); 
}


.header-wrapper,
section{
    
    width: 100%;    
    margin-inline: auto;
    max-width: var(--max-width);    
 
}

/* SECTION GENERAL STYLES */
section{    
    color: var(--white);    
}


section > div:first-child:not(.call-text){
    margin-top: 3rem;
}


.about-intro img{
    /* margin-right:1.5rem ; */
}

.timeline{
    margin-left: 2rem;
}

section .aboutme-section-content,
section .skills-section-content,
section .projects-section-content{
    margin-top: 2rem;
}

section .aboutme-title,
section .skills-title,
section .projects-title{
    display: flex;
    align-items: center;    
}


section label.section-title{
    font-size: 1.3rem;
    min-width: max-content;
    text-transform: uppercase;
    margin-right: .3rem;
}

section div.title-ending-line{
    background:var(--primary);
    border-radius: 5000px;
    height: 5px;
    width: 100%;
}




/* --------------- HERO SECTION ---------------  */
.hero{
    height: calc(100vh -  var(--header-height));
    /* height: 100vh;     */
    margin-top: var(--header-height);
    color: white;
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;    
    align-items: center;    
    font-weight: bold;
    text-align: center;
}

.top-hero-wrapper .call-text{
    max-width: 60%;
}

.top-hero-wrapper .image-wrapper{
    max-width: 40%;
}
.top-hero-wrapper{        
    display: flex;
    justify-content: space-between;
    gap: .3rem;
    align-items: center;
}


.top-hero-wrapper .image-wrapper{
    /* background: green; */
    width:  300px;    
    height: 300px;    
}

.top-hero-wrapper img{
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

.call-text{
    text-align: start;
}
.call-text .name{
    /* font-size: 1.2rem; */
    font-size: clamp(.3rem,1vw + .5rem,1rem);
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--light-white);    
    color: var(--wheat);    
}

.call-text h2{
    /* color: var(--primary); */
    letter-spacing: .3rem;
    font-size: clamp(.8rem,2vw + .1rem,1.3rem);
    color: rgba(33, 137, 228, 0.562);
    margin-bottom: 2rem;
    
}

.call-text p{
    color: var(--light-gray);
    color: gray;
    color: var(--wheat);    
    font-size: clamp(1rem,2vw + .5rem,2rem);
}

.call-text p span{
    color:var(--primary);
    color:rgba(33, 137, 228, 0.562);
    
}

.hero .socials{    
    font-size: clamp(2rem,2vw + 1rem,3rem);
    display: flex;
    flex-direction: column;
    align-items: center;            
}

.hero .socials .my-contacts{
    background: var(--light-white);
    /* border: 2px solid var(--primary);
    box-shadow: 3px 3px 0  var(--primary); */
    border-radius: 50px;
    margin-bottom: 1rem;    
    padding: 1rem 2rem;
    scale: .5;
}

.hero .socials .my-contacts a{
    text-decoration: none;
    margin-inline: .3rem;
    color: inherit;
}

.hero .socials .icons{
    
    
    margin-top: 5rem;
    position: relative;
    color: var(--primary);
    
    width: 70vw;
    height: 180px;
    /* background: var(--primary-light); */
    

}

.hero .socials .icons .ic{
    position: absolute;
    z-index: -10;
    scale: 2;
}

.hero .socials .icons .ic:nth-child(1){left: 0;}
.hero .socials .icons .ic:nth-child(2){left:30%;top: 50%;}
.hero .socials .icons .ic:nth-child(3){right:30%;}
.hero .socials .icons .ic:nth-child(4){right:0;top: 50%;}




/* --------------- FOOTER --------------- */
footer{
    background: var(--light-white);
    position: relative;
    margin: 0 var(--margin-global-l-r);    
    border-radius: 5px;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;    
}

footer ul li{
    margin:1rem 2rem;
    display: flex;
    align-items: center;
}

footer ul li i {
    color: var(--primary);    
}

footer ul li a{
    margin: 0 .4rem;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.557);    
    color:gray;
    color: var(--wheat); 
} 

/* --------------- MOBILE --------------- */

@media(max-width:1200px){
    .header-wrapper{       
        max-width: 90%;
    }
    section{
        /* width: 90vw; */
        /* max-width: none; */
    }
}

@media(max-width:1000px){
    div.projects-section-content{
        justify-content: center;
    }
    section{
        /* width: calc(100vw - var(--margin-global-l-r)); */
        /* margin-inline: var(--margin-global-l-r); */
        width: 80%;
        margin-inline: auto;
    }
}

@media(max-width:900px){
    .top-hero-wrapper {
        /* background: blue; */
    }
    .top-hero-wrapper .image-wrapper{
        width:  280px;
        height: 280px;
    }

}

@media(max-width:850px){
        
}

@media(max-width:800px){         
    .header-wrapper ul li,        
    .header-wrapper ul a{                
        padding: 0;
    }
    .header-wrapper ul .resume-link{
        padding: .2rem .4rem;
    }

    /* .hero{margin-top: calc( 3rem + var(--header-height));} */
    .top-hero-wrapper{     
        /* margin-top: calc(500px + var(--header-height));    */
        flex-direction: column;
        justify-content: space-evenly;
        /* gap: 0;         */
    }
    .top-hero-wrapper .image-wrapper{
        order: -1;        
        margin: 1rem 0;        
        width:   400px;
        height:  max-content;        
    }
    
    
    .top-hero-wrapper *{
        text-align: center;
    }

    .call-text h2{
        letter-spacing: .2rem;
    }
}

@media(max-width: 400px){
    .main-wrapper{
        width: 100%;        
        overflow-x: hidden;
        
    }
}

@media(max-width: 340px){
    .header-wrapper li:not(.resume-link){
        display: none;
    }
}




/* --------------- SCROLL ANIMATIONS --------------- */

section{
    transition: all .9s ease-in-out;
}

section:not(.hero){
    /* margin-top: 5rem; */
    margin-bottom: 5rem;
}

#about-me,
#skills-tools,
#projects{
    opacity: 0;
    transform: translate(0px,100px);
}

#about-me.show,
#skills-tools.show,
#projects.show{
    opacity: 1;      
    transform: translate(0px,0px);
    /* transition: opacity 0.5s ease, transform 0.5s ease; */
}


.call-text div.name{
    transform: translateX(-100px);
    opacity: 0;
}
.call-text div.show{
    opacity: 1;
    transition: .7s ease-in-out ;
    transform: translate(0,0);
}


.my-contacts{
    opacity: 0;
    color: var(--wheat);
    transform: translateX(300px);
}

.my-contacts.show{
    opacity: 1;
    transform: translateX(0);
    transition: .7s ease-in-out;

}